<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Your OTP for <%= appName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      /* Add your styles here */
    </style>
  </head>
  <body>
    <h1>Your OTP for <%= appName %></h1>
    <p>Dear <%= name %>,</p>
    <p>
      Your One-Time Password (OTP) for <%= appName %> is:
      <strong><%= otp %></strong>
    </p>
    <p>Please enter this OTP in the app to complete your login process.</p>
    <p>If you did not request this OTP, please ignore this email.</p>
    <p>Thank you,</p>
    <p>The <%= appName %> Team</p>
  </body>
</html>
